---
# Based on ansible-lint config
extends: default

ignore: |
  .git/
  .tox/
  .venv/
  venv/
  .molecule/
  molecule/*/.molecule/
  molecule/*/cache/
  molecule/*/roles/
  .pytest_cache/

yaml-files:
  - '*.yml'
  - '*.yaml'

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error

  # Required by ansible-lint
  comments:
    min-spaces-from-content: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  comments-indentation: disable

  document-start: disable
  empty-lines:
    max: 2
    level: error
  hyphens:
    level: error
  indentation: disable
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: disable
  truthy: disable
