---

- block:

  - name: Ensure the override directory exists (systemd)
    file:
      name: "/etc/systemd/system/{{ pdns_rec_service_name }}.service.d"
      state: directory
      owner: "{{ pdns_rec_file_owner }}"
      group: "{{ pdns_rec_file_group }}"

  - name: Override the PowerDNS Recursor unit (systemd)
    template:
      src: "override-service.systemd.conf.j2"
      dest: "/etc/systemd/system/{{ pdns_rec_service_name }}.service.d/override.conf"
      owner: "{{ pdns_rec_file_owner }}"
      group: "{{ pdns_rec_file_group }}"
    notify: reload systemd and restart PowerDNS Recursor

  when: pdns_rec_service_overrides != {}
    and ansible_service_mgr == "systemd"

- name: Ensure that the PowerDNS Recursor configuration directory exists
  file:
    name: "{{ pdns_rec_config_dir }}"
    state: directory
    owner: "{{ pdns_rec_file_owner }}"
    group: "{{ pdns_rec_file_group }}"
    mode: 0750

- name: Generate the PowerDNS Recursor configuration
  template:
    src: recursor.conf.j2
    dest: "{{ pdns_rec_config_dir }}/{{ pdns_rec_config_file }}"
    owner: "{{ pdns_rec_user }}"
    group: "{{ pdns_rec_group }}"
    mode: 0640
  notify: restart PowerDNS Recursor

- name: Ensure that the PowerDNS Recursor 'include-dir' directory exists
  file:
    name: "{{ pdns_rec_config['include-dir'] }}"
    state: directory
    owner: "{{ pdns_rec_file_owner }}"
    group: "{{ pdns_rec_file_group }}"
    mode: 0750
  when: "pdns_rec_config['include-dir'] is defined"

- name: Generate the PowerDNS Recursor Lua config-file
  copy:
    dest: "{{ pdns_rec_config_lua }}"
    content: "{{ pdns_rec_config_lua_file_content }}"
    owner: "{{ pdns_rec_user }}"
    group: "{{ pdns_rec_group }}"
    mode: 0640
  notify: restart PowerDNS Recursor
  when: pdns_rec_config_lua_file_content != ""

- name: Generate PowerDNS Recursor Lua dns-script
  copy:
    dest: "{{ pdns_rec_config_dns_script }}"
    content: "{{ pdns_rec_config_dns_script_file_content }}"
    owner: "{{ pdns_rec_user }}"
    group: "{{ pdns_rec_group }}"
    mode: 0640
  notify: restart PowerDNS Recursor
  when: pdns_rec_config_dns_script_file_content != ""
