---

- name: Include OS-specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: "Setup PowerDNS repo"
  include: "repo-{{ ansible_os_family }}.yml"
  when: pdns_rec_install_repo != ""
  tags:
    - install
    - repository

- name: "Inspect package versions"
  include: "inspect-{{ ansible_os_family }}.yml"

- name: "Make configuration"
  include: configure.yml
  tags:
    - config

- name: "Install EPEL (when required)"
  include: install-epel.yml
  when: ansible_os_family == 'RedHat' and pdns_rec_install_epel
  tags:
    - install

- name: Install the PowerDNS Recursor package
  package:
    name: pdns-recursor
    state: present
  tags:
    - install

- name: Start and enable the PowerDNS Recursor service
  service:
    name: "{{ pdns_rec_service_name }}"
    state: started
    enabled: true
  tags:
    - service

- name: Force handlers flush
  meta: flush_handlers
  when: pdns_rec_flush_handlers
