---

- name: Include OS-specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Setup the PowerDNS Recursor repo
  include_tasks: "repo-{{ ansible_os_family }}.yml"
  when: pdns_rec_install_repo != ""
  tags:
    - install
    - repository

- import_tasks: install-pdns.yml
  tags:
    - install

- name: Start and enable the PowerDNS Recursor service
  service:
    name: "{{ pdns_rec_service_name }}"
    state: started
    enabled: true
  tags:
    - service

- name: Force handlers flush
  meta: flush_handlers
  when: pdns_rec_flush_handlers
