---

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_os_family }}.yml"
    - Other.yml
  tags:
    - always

- name: Include OS specific repo tasks
  ansible.builtin.include_tasks: repo-{{ ansible_os_family }}.yml
  when: pdns_rec_install_repo | length > 0
  tags:
    - install
    - repository

- name: Include OS specific installation tasks
  ansible.builtin.include_tasks: install-{{ ansible_system }}.yml
  tags:
    - install

- name: Include configuration tasks
  ansible.builtin.include_tasks: configure.yml
  tags:
    - config

- name: Set the status of the PowerDNS Recursor service
  ansible.builtin.service:
    name: "{{ pdns_rec_service_name }}"
    state: "{{ pdns_rec_service_state }}"
    enabled: "{{ pdns_rec_service_enabled }}"
    masked: "{{ pdns_rec_service_masked }}"
  tags:
    - service
